<ion-header>
  <ion-toolbar>
    <ion-title>
      Reglas        
    </ion-title>
    <div class="logo">
      <ion-img src="../../assets/img/logo.jpeg"></ion-img>  
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        <b>1 -</b> FORMATO ESPECIAL 6 VS 6
    </p>
    <p>
      <b>1.1 -</b> Los partidos oficiales de la liga mantendrán el habitual formato de 5vs5. Sin embargo, se admitirá en casos excepcionales -cuando se complete la convocatoria con 12 jugadores- 1 suplente por equipo.
    </p>
    <p>
        <b>1.2 -</b> Los cambios no serán libres, sino obligatorios, cada 8 minutos. Todos los jugadores deberán salir una vez. De modo que para el final del partido, los 12 inscriptos habrán jugado aproximadamente la misma cantidad de tiempo. 
    </p>
    <p>
        <b>1.3 -</b> El orden de los cambios deberá ser estipulado por el capitán de cada equipo (jugador mejor posicionado en la tabla antes del inicio del match) agregando un factor estratégico al planteo del partido.
    </p>
    <p>
      <b>1.4 -</b>El límite temporal para la confección de la lista de substituciones, que el capitán de cada equipo deberá entregar al Comisionado de la liga, quedará fijado para las 21hs. Esta será irrevocable, no pudiendo sufrir alteración alguna a partir de ese momento.
    </p>
    <p>
        <b>1.5 -</b> La lista de substituciones aparecerá  publicada en el grupo Los Jueves ™ minutos antes del inicio del partido, así como en formato en físico al costado del terreno de juego, para una rápida lectura y fiscalización.
    </p>
    <p>
        <b>1.6 -</b> Los jugadores en su turno de relevo, afuera del campo, deberán utilizar el cronómetro oficial para verificar que se cumplan los 8 minutos de tiempo de juego del primer recambio. Una vez alcanzado ese límite, en la siguiente jugada en la que se corte el juego, se realizará la substitución.
</p>


</ion-content>
