.hola {
    background-color:  #A9D0F5 !important;
  }

page-detail-page {
    .hola {
        background: #545454;
        background-color:  #A9D0F5 !important;
    }
    .movie-info {
        background: #4a4a4a;
    }
}